# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum

# Docker
.docker/

# Logs
*.log
logs/

# Editor/IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Other
.env
test/
