# StrasBoard Sensor Configuration

# BCM pin name for DHT22 data pin
GPIO_PIN='GPIO4'

# Minimum interval between DHT22 reads
READ_INTERVAL=5

# Maximum read attempts in case of errors
MAX_RETRIES=4

# Location of the sensor returned in HTTP responses
LOCATION='Living Room'

# Port for the sensor server
PORT=8080

# StrasBoard server
SERVER_URL=http://your-strasboard-server:80/api/temperature/push
AUTH_TOKEN=

# Comment to remove debug logs
DEBUG=1
